<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>welcomeServlet</servlet-name>
        <servlet-class>ssj07.welcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>ssj07.WelcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomeServlet1</servlet-name>
        <servlet-class>ssj07.WelcomeServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>colorservlet07b</servlet-name>
        <servlet-class>ssj07.ColorServlet07b</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KukuServlet07a</servlet-name>
        <servlet-class>ssj07.KukuServlet07a</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HeaderserServlet08c</servlet-name>
        <servlet-class>ssj08.HeaderserServlet08c</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HeaderServlet08b</servlet-name>
        <servlet-class>ssj08.HeaderServlet08b</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HeaderServlet08a</servlet-name>
        <servlet-class>ssj08.HeaderServlet08a</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionServlet</servlet-name>
        <servlet-class>ssj09.SessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet09c</servlet-name>
        <servlet-class>ssj09.LoginServlet09c</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet09b</servlet-name>
        <servlet-class>ssj09.LoginServlet09b</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet09a</servlet-name>
        <servlet-class>ssj09.LoginServlet09a</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileServlet10c</servlet-name>
        <servlet-class>ssj10.FileServlet10c</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileServlet10b</servlet-name>
        <servlet-class>ssj10.FileServlet10b</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileServlet10a</servlet-name>
        <servlet-class>ssj10.FileServlet10a</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBServlet11c</servlet-name>
        <servlet-class>ssj11.DBServlet11c</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBServlet11b</servlet-name>
        <servlet-class>ssj11.DBServlet11b</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBServlet11a</servlet-name>
        <servlet-class>ssj11.DBServlet11a</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BeansServlet12C</servlet-name>
        <servlet-class>ssj12.BeansServlet12c</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BeansServlet12c</servlet-name>
        <servlet-class>ssj12.BeansServlet12c</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BeansServlet12b</servlet-name>
        <servlet-class>ssj12.BeansServlet12b</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BeansServlet12a</servlet-name>
        <servlet-class>ssj12.BeansServlet12a</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>welcomeServlet</servlet-name>
        <url-pattern>/ssj07/welcomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/ssj07/WelcomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeServlet1</servlet-name>
        <url-pattern>/ssj07/WelcomeServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>colorservlet07b</servlet-name>
        <url-pattern>/ssj07/colorservlet07b</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KukuServlet07a</servlet-name>
        <url-pattern>/ssj07/KukuServlet07a</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HeaderserServlet08c</servlet-name>
        <url-pattern>/ssj08/HeaderserServlet08c</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HeaderServlet08b</servlet-name>
        <url-pattern>/ssj08/HeaderServlet08b</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HeaderServlet08a</servlet-name>
        <url-pattern>/ssj08/HeaderServlet08a</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionServlet</servlet-name>
        <url-pattern>/ssj09/SessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet09c</servlet-name>
        <url-pattern>/ssj09/LoginServlet09c</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet09b</servlet-name>
        <url-pattern>/ssj09/LoginServlet09b</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet09a</servlet-name>
        <url-pattern>/ssj09/LoginServlet09a</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileServlet10c</servlet-name>
        <url-pattern>/ssj10/FileServlet10c</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileServlet10b</servlet-name>
        <url-pattern>/ssj10/FileServlet10b</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileServlet10a</servlet-name>
        <url-pattern>/ssj10/FileServlet10a</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBServlet11c</servlet-name>
        <url-pattern>/ssj11/DBServlet11c</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBServlet11b</servlet-name>
        <url-pattern>/ssj11/DBServlet11b</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBServlet11a</servlet-name>
        <url-pattern>/ssj11/DBServlet11a</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BeansServlet12C</servlet-name>
        <url-pattern>/ssj12/BeansServlet12C</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BeansServlet12c</servlet-name>
        <url-pattern>/ssj12/BeansServlet12c</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BeansServlet12b</servlet-name>
        <url-pattern>/ssj12/BeansServlet12b</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BeansServlet12a</servlet-name>
        <url-pattern>/ssj12/BeansServlet12a</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
